/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #000002 !important;
  --toolbarbutton-icon-fill: #c7c5d1 !important;
  --toolbar-field-color: #e5e1e2 !important;
  --tab-selected-textcolor: #c7c5d1 !important;
  --toolbar-color: #e5e1e2 !important;
  --arrowpanel-color: #e5e1e2 !important;
  --arrowpanel-background: #201f20 !important;
  --sidebar-text-color: #e5e1e2 !important;
  --zen-main-browser-background: #141314 !important;
}

.sidebar-placesTree {
  background-color: #201f20 !important;
}

#zen-workspaces-button {
  background-color: #201f20 !important;
}

#TabsToolbar {
  background-color: #141314 !important;
}

.urlbar-background {
  background-color: #201f20 !important;
}

.urlbar-input::selection {
  color: #303039 !important;
  background-color: #c7c5d1 !important;
}

.urlbarView-url {
  color: #c8c5cb !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c7c5d1
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #dcdae5 !important;
  --identity-icon-color: #dcdae5 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c7c5d1 !important;
  --identity-icon-color: #c7c5d1 !important;
}

.identity-color-green {
  --identity-tab-color: #a3fab4 !important;
  --identity-icon-color: #a3fab4 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe7a5 !important;
  --identity-icon-color: #ffe7a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd972 !important;
  --identity-icon-color: #ffd972 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb4 !important;
  --identity-icon-color: #ff9fb4 !important;
}

.identity-color-pink {
  --identity-tab-color: #f6f4ff !important;
  --identity-icon-color: #f6f4ff !important;
}

.identity-color-purple {
  --identity-tab-color: #585660 !important;
  --identity-icon-color: #585660 !important;
}

#zen-appcontent-navbar-container {
  background-color: #141314 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #c7c5d1 !important;
  color: #c7c5d1 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #c7c5d1 !important;
  color: #c7c5d1 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #c7c5d1 !important;
}
