/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #6a3c01 !important;
  --toolbarbutton-icon-fill: #fdb876 !important;
  --toolbar-field-color: #efe0d5 !important;
  --tab-selected-textcolor: #fdb876 !important;
  --toolbar-color: #efe0d5 !important;
  --arrowpanel-color: #efe0d5 !important;
  --arrowpanel-background: #261e18 !important;
  --sidebar-text-color: #efe0d5 !important;
/*  --zen-main-browser-background: #19120c !important; */
}

.sidebar-placesTree {
  background-color: #261e18 !important;
}

#zen-workspaces-button {
  background-color: #261e18 !important;
}

#TabsToolbar {
  background-color: #19120c !important;
}

.urlbar-background {
  background-color: #261e18 !important;
}

.urlbar-input::selection {
  color: #4a2800 !important;
  background-color: #fdb876 !important;
}

.urlbarView-url {
  color: #d5c3b6 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #fdb876
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffc88f !important;
  --identity-icon-color: #ffc88f !important;
}

.identity-color-turquoise {
  --identity-tab-color: #fdb876 !important;
  --identity-icon-color: #fdb876 !important;
}

.identity-color-green {
  --identity-tab-color: #a9e086 !important;
  --identity-icon-color: #a9e086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8c297 !important;
  --identity-icon-color: #e8c297 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbad7b !important;
  --identity-icon-color: #dbad7b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f8f !important;
  --identity-icon-color: #e05f8f !important;
}

.identity-color-pink {
  --identity-tab-color: #b26544 !important;
  --identity-icon-color: #b26544 !important;
}

.identity-color-purple {
  --identity-tab-color: #bd946c !important;
  --identity-icon-color: #bd946c !important;
}

#zen-appcontent-navbar-container {
  background-color: #19120c !important;
}
